@font-face {
    font-family: LatoRegular;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: LatoRegular, Arial, sans-serif;
    color: #fff;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;


    #app {
        padding: 15px;
    }

    #form {
        margin-bottom: 20px;

        .form__input,
        .form__btn {
            background: none;
            border: none;
            outline: none;
            padding: 5px;
            font-size: 18px;
        }

        .form__input {
            border-bottom: 1px solid #fff;
        }

        .form__btn {
            cursor: pointer;
        }
    }


    #output {
        transform: translateY(-10px);
        transition: .3s ease;
        opacity: 0;
        width: 70vw;
        display: flex;
        justify-content: space-between;

        .inner {
            padding: 20px;
            position: relative;
            background: #555;
            border-radius: 15px;

            &:first-child {
                margin-bottom: 15px;
            }

            img {
                height: 14px;
                width: auto;
            }

            p {
                font-size: 16px;
            }

            h2 {
                font-size: 42px;
            }

            h3 {
                font-size: 28px;
            }

            .weather-icon {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 150px;
                width: auto;
            }
        }

        .city-name {
            margin-bottom: 10px;

            img {
                height: 22px;
            }
        }

        .main-output {
            width: 30%;
        }

        .detailed-output {
            width: 68%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .inner {
                margin: 0;
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                .detailed-inner-icon {
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }
            }

            .wind-inner h3 {

                img {
                    height: 22px;
                    margin-right: 5px;
                }
            }
        }
    }
}